/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

/* Navigation */
nav {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #444;
}

.hamburger-icon {
  position: relative;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: white;
  transition: all 0.3s;
}

.hamburger-menu.open .hamburger-icon span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-menu.open .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .hamburger-icon span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Content */
.content {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

.video-player iframe {
  width: 100%;
  height: 56.25vw; /* 16:9 aspect ratio */
  max-height: 800px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

#video-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 0 10px;
}

.button:hover {
  background-color: #45a049;
}

/* Responsive menu */
.hamburger-menu {
  display: none;
}

.menu-items.open {
  display: flex;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
      display: block;
  }

  nav ul {
      display: none;
  }

  .menu-items.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #000;
  }

  .menu-items.open li {
      margin-bottom: 1rem;
  }
}
