/* Add these styles to your existing styles.css file */

.video-player iframe {
  width: 50%;
  height: 50vw;
  max-height: 400px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

#video-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 0 10px;
}

.button:hover {
  background-color: #45a049;
}
