@font-face {
  font-family: 'Josefin_Bold';
  src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin_Light';
  src: url('/fonts/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin_Semi_Bold';
  src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin_Medium';
  src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin_Bold', Arial, sans-serif;
}

.subheader {
  font-family: 'Josefin_Semi_Bold', Arial, sans-serif;
}

p {
  font-family: 'Josefin_Light', Arial, sans-serif;
}

body {
  font-family: 'Josefin_Light', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

main {
  padding: 24px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  display: none;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(248, 242, 242, 0.7);
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.slide {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.carousel-caption figcaption {
  font-family: 'Josefin_Medium', Arial, sans-serif;
  font-size: 14px;
  color: white;
  padding-top: 8px;
}

.carousel-caption a {
  color: #1a73e8;
  text-decoration: none;
}

.carousel-caption a:hover {
  text-decoration: underline;
}

.slide-transition {
  transform: translateY(-100%);
}

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  /* ... (previous responsive styles) ... */
  
  .carousel {
    display: flex;
  }

  .image-grid {
    display: none;
  }
}

/* Add this code to your about.css file */

.image-grid {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

@media (min-width: 992px) {
  .carousel {
    display: none;
  }

  .image-grid {
    display: grid;
  }
}

