/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Gallery within the modal */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Custom fonts */
@font-face {
    font-family: 'Josefin_Medium';
    src: url('/fonts/JosefinSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin_Bold';
    src: url('/fonts/JosefinSans-Bold.ttf') format('truetype');
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust gap as needed */
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: calc(25% - 20px); /* Four cards per row, minus gap */
    margin-bottom: 20px;
}

.card-image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 200px; /* Fixed height, or use object-fit to adjust */
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    margin: 0;
}

.card-subtitle {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.card-description {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info, .wind-info {
    display: flex;
    flex-direction: column;
}

.temperature, .feels-like, .wind-speed {
    font-size: 0.9rem;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .card {
        width: calc(33.3333% - 20px); /* Three cards per row */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Two cards per row */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .card {
        width: 100%; /* Full width on small screens */
    }

    .card-image {
        height: auto; /* Adjust height for smaller screens */
    }
}
