@font-face {
  font-family: 'Josefin_Light';
  src: url('/fonts/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin_Semi_Bold';
  src: url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  /* Prevents horizontal scroll */
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.video-player {
  width: 80%;
  /* Adjusted for a more appropriate size on desktop */
  padding-top: 45%;
  /* Adjusted padding-top for proper aspect ratio */
  position: relative;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  /* Centering the video player */
}

#video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.button {
  background-color: #1c7cf2;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Josefin_Light', Arial, Helvetica, sans-serif;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0f5bda;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  display: none;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.video-title {
  font-family: 'Josefin_Semi_Bold', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-description {
  font-size: 1.2rem;
  font-family: 'Josefin_Light', Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media (max-width: 768px) {
  .video-player {
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
  }

  .video-title {
    font-size: 1.1rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .video-description {
    font-size: 1rem;
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .video-player {
    max-width: 60%;
    /* Limiting maximum width to maintain aesthetics */
    padding-top: calc((9 / 16) * 60%);
    /* Keeping aspect ratio consistent */
  }

  .video-title {
    font-size: 1.8rem;
  }

  .video-description {
    font-size: 1.5rem;
  }
}